/*基本样式*/
.hd_subfield_2{
    color: #F96F79;
    border-bottom: 4px solid #E70012;
}
.hd_subfield_2>a{
    color: #F96F79;
}

/*页面修改样式*/
.serve_banner{
    width: 100%;
}
.main{
    margin-bottom: 50px;
}
.main_h2{
    font-weight: bold;
    text-align: center;
    margin: 100px auto;
}
.main_content{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.main_content h4{
    color: #338EDD;
    margin: 20px 0;
    font-size: 22px;
}
.content_serve{
    text-align: center;
    margin: 0 30px;
    border: 2px solid darkgray;
    padding: 20px;
}
.content_serve:hover{
    border: 2px solid #FE2627;
}